body{
margin:0;
padding:0;
font-family:Arial;
background:linear-gradient(135deg,#ff8dc7,#ffcce5);
text-align:center;
color:white;
}

.container{
padding:20px;
}

.photo{
width:220px;
height:220px;
border-radius:20px;
border:5px solid white;
object-fit:cover;
box-shadow:0 0 25px pink;
}

.box{
background:rgba(255,255,255,.2);
padding:20px;
margin:20px;
border-radius:20px;
backdrop-filter:blur(10px);
}

button{
padding:15px 30px;
border:none;
border-radius:40px;
background:#ff2d55;
color:white;
font-size:20px;
cursor:pointer;
}

button:hover{
transform:scale(1.05);
}

#love{
font-size:30px;
margin-top:20px;
color:yellow;
font-weight:bold;
}
